*{
    margin: 0px;
}
body{
    background-image:url(image\3.jpeg) ;
}
.head {
    height: 56px;
    line-height: 56px;
    float: left;
    width: 100%;
    background-color: rgba(237, 8, 8, 0.5);
    margin: 0 auto;
    display: flex;
    align-items: center;

}
.logo {
    position: relative;
    top: 0px;
    left: 6opx;
    margin: 30px;
}
.nav_{
    position: relative;
    left: 60px;
}
.head ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.head li{
    float: left;
    list-style-type: none;
    overflow: hidden;
   
}
.head li a{
    text-decoration: none;
    color:aliceblue;
    padding:30px;
    overflow: hidden;
    
}
.head li a:hover {
    animation: nav_ul 0.2s;
    font-size: 18px;
    color: rgb(178, 207, 207);
}
.search{
    position: absolute;
    left: 600px;
}
.search input{
    width: 500px;
    height: 40px;
    border-radius: 25px;
    border: 0ch;
}

@keyframes nav_ul {
    0% {font-size: 13px;}
    25% {font-size: 14px;}
    50% {font-size: 15px;}
    75% {font-size: 16px;}
    100% {font-size: 17px;}
}