<html>
    <head>
        <link rel="stylesheet" href="css/nav.css">
    </head>
    <body>
        <div class="head">
            <div class="logo">
                <a href="index.html" target="mainiframe"><img src="./image/logo.png" width="60px" height="45px"></a>
            </div>
            <div class="nav_">
                <ul class="nav">
                    <li><a href="index.html" target="mainiframe">首页</a></li>
                    <li><a href="stemhome.html?page_num=1" target="mainiframe">梗大全</a></li>
                    <li><a href="talkhome.html" target="mainiframe">吐槽广场</a></li>
                </ul>
            </div>
            <div class="search">
                <input type="text" placeholder="搜索ID,梗,英文" id="searchStem" >
                <!-- <button id="search">搜索</button> -->
                <i class="fa fa-search" aria-hidden="true" id="search"></i>
            </div>
            <div>
                <ul>
                    <li>
                        <img>
                        </img>
                    </li>
                </ul>
            </div>
        </div>
    </body>

</html>