<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <a href="./b.html">b.html</a>
    <h3>梗百科接口列表</h3>
    <ul>
        <li>www.lijunxi.site:1234/authorization/login</li>
        <li>www.lijunxi.site:1234/authorization/register</li>
        <li>www.lijunxi.site:1234/authorization/register</li>
        <li>www.lijunxi.site:1234/authorization/register</li>
        <li>www.lijunxi.site:1234/authorization/register</li>
        <li>www.lijunxi.site:1234/authorization/register</li>
    </ul>

</body>
</html>